{% extends 'index.twig' %}
{% block content %}
    <div class='col-md-6 col-md-offset-2'>
      <center>
        <h2>.-'Pub Crawl CTF'-.</h2>
        <b>-When</b>: October 23rd 2021 12:00-19:00-<br>
        <b>-Where</b>: Starting at Black and Blue<br>
        
        Please remember that these establishments have agreed to work with us for this event. <br>
        Be good patrons, eat, drink, and be merry! (just not too merry!)<br>
        <br>
        <h2>.-'Participating Resturants'-.</h2>
        -<!--a href='https://www.briggstavern.com/' target='new'>Briggs Restaurant and Tavern</a> (665 Northampton St.)-<br-->
        -<a href='http://www.porterspubeaston.com' target='new'>Porters Pub & Resturant</a>-<br>
        -<a href='http://daddysplaceeaston.com/' target='new'>Daddys Place</a>-<br>
        -<a href='https://www.facebook.com/2tierradefuego/' target='new'>Tierra De Feugo</a>-<br>
        -<a href='https://www.blacknblue683.com/' target='new'>Black and Blue</a>-<br>
        -<a href='https://www.tworiversbrewing.com/' target='new'>Two Rivers Brewing</a>-<br>

      <br>
      Base of operations is in the upstairs room at Two Rivers Brewing, we'll have some DC610 staff there, and a screen with the scoreboard<br>
      <br>
      <h2>.-'Awards'-.</h2>
      Scoreboard review, and awards will be handled in the base of operations (upstairs room) at Two Rivers Brewing, at 7:30PM.  Be present to win!<br>
      </center>
      <!--iframe src="https://www.google.com/maps/d/u/0/embed?mid=11sE4CQo0gEepBSHf_ttfyFpr47T1Ot0U" width="640" height="480"></iframe-->
      <br>
      <br>
      <p>This is a jeopardy style CTF, except all the flags are at local restaurants and pubs, all within walking distance! Flags are self contained and accessed via WiFi.
There will be a DC610 Rep at each site to help with any issues.
      </p>

    </div>
{% endblock %}
