{% extends 'index.twig' %}
{% block content %}
    <div class='col-md-6 col-md-offset-2'>
        <ul>
        <li>First place will receive a custom mug, and their choice of a second prize</li>
        <li>other prizes will be awared based on availability</li>
        <li>DIY Pwnagotchi Kit</li>
        <li>USB Rubber Ducky</li>
        <li>Raspberry Pi 4</li>
        <li>Cash</li>
        <ul>
    </div>
{% endblock %}
