{% extends 'index.twig' %}
{% block content %}
    <div class='col-md-6 col-md-offset-2'>
      <ol type='1'>
        <li>All Participating WiFi Access Points should contain the name "DC610", other AP's are out of scope, and not part of the CTF</li>
        <li>Please do not attempt to hack the Scoreboard</li>
        <li>Please be respectful of others</li>
        <li>Please be respectful of the establishments graciously hosting our event</li>
        <li>Please respect others right to personal safety, including pandemic-related protections</li>
      </ol>
    </div>
{% endblock %}
